.box{
    width: 100%;    
    display: flex;
    justify-content: center;
      
}
.form{
    width: 350px;
    height: 250px;
}
.link{
    text-decoration: none;
}
.changepassword{
    align-items: centers;
    position: relative;
}
